* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    font-weight: bold;
}

span {
    font-size: 12px;
}
.forecast {
    font-size: 12px;
}

/* header section */
.header-color {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(68,48,182,1) 45%, rgb(0, 90, 108) 100%);
}

.h1-text {
    font-size: 45px;
    color: whitesmoke;
}

/* history button */
#clear-history {
    margin-left: 10px;
}

/* history list */
.list-group {
    margin-left: 10px;
}

/* search button */
#search-btn {
    border-radius: 5px;
}